/*colores: #000286 azul oscuro
#00F6FA azul brillante
#FFFFFF blanco

*/

.principal{
    height: 100vh;/*100 de altura para que se muestre del area de visualizacion*/
    background: linear-gradient(90deg,rgba(2,0,36,1) 0%,rgba(9,9,121,0.7539390756302521) 29%, rgba(0,212,255,1) 100%), url(../img/hero-bg-1.jpg);

}

.principal-contenido{
    color:#FFFFFF;
    
}

.about{
   padding:20px;
    margin-top: 150px;
    background-color: #000286;
    color:white;

}

.experience{
    padding:20px 20px 200px 20px;
     margin-top: 150px;
     background-color: #000286;
     color:white;

 
 }
 .navbar-toggler-icon{
    background-color: white;
    border-radius: 5px;
 }


/*** ESTILOS BOTÓN SLIDE LEFT ***/
.ov-btn-slide-left {
    background: #fff; /* color de fondo */
    color: #000286; /* color de fuente */
   
    padding:10px;
    font-weight: bold;
    font-size: 25px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    border-radius: 2em;
    text-decoration:none;
    border:5px solid white;
  }
  .ov-btn-slide-left:hover {
    color: #fff; /* color de fuente hover */
  }
  .ov-btn-slide-left::after {
    content: "";
    background: #000286; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .ov-btn-slide-left:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
  }



.texto-about{
    font-weight: bold;
    font-size: 17px;
}



.skills{
    margin-top: 150px; 
    background-color: #000286;
    color:white;
}

.habilities{
    margin-top: 150px; 
}

.portfolio{
    margin-top: 150px; 
}

.contact{
    margin-top: 150px; 
}

.foto{
    border-radius:50%;
}

.navbar{
    background-color: #000286;
    
}

.nav-item{
    font-size:20px;
    font-weight: bold;
}

.nav-link:hover{
    color:#00F6FA !important;
    
}

.nav-link{
    color: white !important;
}

.navbar-brand{
    color: white !important;
    font-weight: bold;
    font-size:25px;
    margin-left:10px;
}


.contenedor-fullstack, .contenido-dataScience, .contenido-software{
    background-color: #FFFFFF;
    color:#000286;
    border:10px solid #00F6FA;
    border-radius:20px;
}

.iconoLenguaje{
    font-size:50px;
    color:white;
}

.contenidoLenguaje{
    border:10px solid #000286;
    border-radius: 10px;
    background-color: #000286;
}

.textoLenguaje{
   
    width:100%;
    color:white;
    
}

.contenidoLenguaje:hover{
    border:10px solid #00F6FA;
    transition:1s ease-out;
    background-color: #00F6FA;
}


.habilities{
    background-color: #000286;
    color:white;
}

.contenidoHabilities{
    background-color: #FFFFFF;
    color:#000286;
    border-radius:20px;
    border:10px solid #FFFFFF;
    

}

.contenidoHabilities:hover{
    background-color: #000286;
    color:#FFFFFF;
    transition:1s ease-out;
    
}

.iconoHabilities{
    font-size:50px;
}


.contenidoHabilitiesAbajo{
    padding:10px;
    border-radius:20px;
    background-color: #000286;
    border:10px solid #00F6FA;

}

.iconoHabilitiesAbajo{
    font-size:50px;
}


.contenidoHabilitiesAbajo:hover{
    background-color: #00F6FA;
    transition: 1s ease-out;
    color:#000286;
}


.portfolio{
    background-color: #000286;
    color:white;
}


.contenido-portfolio{
    background-color: #FFFFFF;
    color:#000286;
    border:10px solid #00F6FA;
    border-radius:10px;
}

.portfolio-boton{
    background-color: #000286;
    color:white;
    border:0px;
    padding:5px;

}

.contact{
    background-color: #000286;
    color:white;
}

.contenido-contacto{
    background-color: #FFFFFF;
    color:#000286;
    border-radius:10px;
}


.iconoContacto{
    font-size:50px;
}


.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
  .waviy span {
    
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }

  *{
    font-family: 'Josefin Sans', sans-serif;
    box-sizing:border-box;
    
  }

  body{
    overflow-x: hidden;
  }
 

  .contenido-contacto:hover{
    color:#00F6FA;
   
    
  }

  .enlace{
    text-decoration:none;
  }

  .columna-enlace:hover{
    transform: scale(1.1);
    transition:1s ease-out;
  }
 


.fila-portfolio{
    color: #000286;
    background-color:white;
    padding:10px;
    border:10px solid #00F6FA;
    border-radius:20px;
}

.enlace-proyecto{
    text-decoration: none;
    background-color: #000286;
    color:white;
    font-size: 25px;
    padding: 7px;
    border-radius:20px;
    margin-top:10px;

}
.enlace-proyecto:hover{
    
    background-color: #00F6FA;
    transform: scale(1.1);
    color:#000286;
}

.titulo-projects{
    background-color: white;
    color: #000286;
    border-radius: 10px;
}

.jewel{
    background-color: #e8b34b;
    border-radius:20px;
}

.fila-portfolio-jewel{
    color: #e8b34b;
    background-color:white;
    padding:10px;
    border:10px solid #e3e4e5;
    border-radius:20px;
}

.crown{
    font-size:35px
}

.fila-suma,.fila-suma-cambiar{
    background-color:white;
    color: #000286;
    border-radius:20px;
    padding:20px;
}

.texto-suma{
    font-size: 20px;
}

.texto-suma-fin{
    font-size: 20px;
    text-align: end;
}

.destacar{
    font-weight: bold;
    font-size: 25px;
}

.number{
    font-size: 80px;
}
.row-suma{
    
    margin-bottom: 200px;
}

.icono-experiencia{
    width:250px;
}

.row-experience{
    background-color:white;
    color: #000286;
    border-radius:20px;
    padding:10px;
}

@media (max-width: 768px) {
    .fila-suma-cambiar{
        flex-direction: column-reverse;
        
    }
}



